<header id="header" class="header">
    <div class="logo_area">
        <div class="container">
            <div class="logo_area_inner">
                <div class="logo">
                    <a routerLink="/">
                        <img src="./../../../assets/logo.png" alt="Real Research">
                    </a>
                </div>
                <div class="header_search">
                    <form action="">
                        <input type="text" placeholder="Search for products...">
                        <input type="submit" value="Search">
                    </form>
                </div>
                <div class="logo_area_right">
                    <div class="user_account">
                        <a routerLink="#">
                            <div class="user_account_icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="user_account_text">
                                <span>Sign In</span>
                                <span>Account</span>
                            </div>
                        </a>
                    </div>
                    <div class="user_account">
                        <a routerLink="#">
                            <div class="user_account_icon">
                                <i class="fa-solid fa-baby-carriage"></i>
                            </div>
                            <div class="user_account_text">
                                <span>Total</span>
                                <span>0.00 RR points</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="container">
      <nav class="nav">
        <a routerLink=""><span><i class="fa-solid fa-bars"></i></span> All Categories</a>
        <a routerLink="mobile-tablets">Mobiles, Tablets</a>
        <a routerLink="computer-office-supplies">Computer & Office Supplies</a>
        <a routerLink="tv-appliance">TV, Appliances & Electronics</a>
        <a routerLink="womens">Women's Fashion</a>
        <a routerLink="kids">Kids Fashion</a>
        <a routerLink="tools">Tools & Home Improvement</a>
      </nav>
    </div>
  </nav>
</header>
