#footer {
    padding: 30px 0 20px 0;
    border-top: 1px solid #E8EAEE;
    .box {
      .footer_logo {
        padding-bottom: 16px;
      }
      h3 {
          text-align: left;
          font: normal normal bold 22px/40px Poppins;
          letter-spacing: 0px;
          color: #000000;
          opacity: 1;
      }
      .footer_logo {
          img {
              width: 184px;
          }
      }
        a, p {
            display: flex;
            text-decoration: none;
            color: var(--unnamed-color-b2b2b2);
            text-align: left;
            font: normal normal normal 14px/21px Poppins;
            letter-spacing: 0px;
            color: #B2B2B2;
            opacity: 1;
            align-items: center;
        }
    }
    .social_media {
        display: flex;
        justify-content: center;
        a {
            margin:  10px;
            font-size: 30px;
        }
    }
    .box1 {
        i {
            padding-right: 5px;
        }
    }
}
