<footer id="footer">
    <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                  <div class="box box1">
                      <div class="footer_logo">
                          <a routerLink="/">
                              <img src="./../../../assets/logo.png" alt="footer-logo">
                          </a>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <p><i class="fa-solid fa-location-dot"></i> 2nd floor, 628 Nonhyeon-ro, Gangnam-gu, Seoul</p>
                      <p><i class="fa-solid fa-phone"></i> 1533-0178</p>
                      <p><i class="fa-solid fa-envelope"></i> support@realresearcher.kr</p>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="box">
                    <h3>Product Categories</h3>
                    <div class="categories_links">
                        <a routerLink="mobile-tablets">Mobiles, Tablets</a>
                        <a routerLink="computer-office-supplies">Computer & Office Supplies</a>
                        <a routerLink="tv-appliance">TV, Appliances & Electronics</a>
                        <a routerLink="womens">Women's Fashion</a>
                        <a routerLink="kids">Kids Fashion</a>
                        <a routerLink="tools">Tools & Home Improvement</a>
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="box">
                      <h3>Useful Links</h3>
                      <a routerLink="">Privacy Policy</a>
                      <a routerLink="">Returns</a>
                      <a routerLink="">Terms & Condition</a>
                      <a routerLink="">Contact Us</a>
                  </div>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                  <div class="box social_media">
                      <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
                      <a href="#"><i class="fa-brands fa-youtube-square"></i></a>
                      <a href="#"><i class="fa-brands fa-instagram-square"></i></a>
                  </div>
              </div>
          </div>
    </div>
</footer>
