<header id="header">
    <div class="container">
      <nav class="logo_area">
          <div id="logo">
              <a routerLink="">
                  <img src="./../../../../../assets/logo.png" alt="Logo">
              </a>
          </div>
      </nav>
    </div>
    <div class="nav_outer">
       <div class="container">
        <nav class="nav">
          <a routerLink="./../admin/dashboard">Dashboard</a>
          <a routerLink="./../admin/customers">Customers</a>
          <a routerLink="./../admin/orders">Orders</a>
          <a routerLink="./../admin/categories">Categories</a>
          <a routerLink="./../admin/products">Products</a>
        </nav>
       </div>
    </div>
</header>
<router-outlet></router-outlet>
