<div class="all_cates">
    <div class="container">
        <div class="banner">
            <img src="./../../../assets/banner.png" alt="Banner">
        </div>
    </div>
</div>

<div class="brands">
    <div class="container">
        <div class="brands_inner">
            <a routerLink="">
                <img src="./../../../assets/oppo.jpg" alt="oppo">
            </a>
            <a routerLink="">
              <img src="./../../../assets/dell.jpg" alt="dell">
            </a>
            <a routerLink="">
                <img src="./../../../assets/lenovo.jpg" alt="lenovo">
            </a>
            <a routerLink="">
                <img src="./../../../assets/asus.jpg" alt="asus">
            </a>
            <a routerLink="">
                <img src="./../../../assets/samsung.jpg" alt="samsung">
            </a>
            <a routerLink="">
                <img src="./../../../assets/sony.jpg" alt="sony">
            </a>
        </div>
    </div>
</div>

<div class="top_3">
    <div class="container">
        <div class="top_3_inner">
            <div class="box">
                <a routerLink="">
                    <img src="./../../../assets/top_3.jpg" alt="top_3">
                </a>
            </div>
            <div class="box">
                <a routerLink="">
                    <img src="./../../../assets/top_3.jpg" alt="top_3">
                </a>
            </div>
            <div class="box">
                <a routerLink="">
                    <img src="./../../../assets/top_3.jpg" alt="top_3">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="featured">
    <div class="container">
        <div class="featured_header">
            <h3>Featured</h3>
            <a routerLink="#">View All <span><i class="fa-solid fa-right-long"></i></span></a>
        </div>
        <div class="featured_inner">
          <div class="box">
              <a routerLink="#">
                  <img src="./../../../assets/products.jpg" alt="Product Image">
                  <div class="product_content">
                      <h6>Apple iPhone 11 64GB Yellow Fully Unlocked</h6>
                      <span>478 RR points</span>
                      <div class="price_box">
                          <span><b>400</b> RR points</span>
                          <span><i class="fa-solid fa-cart-shopping"></i></span>
                      </div>
                  </div>
              </a>
          </div>
          <div class="box">
              <a routerLink="#">
                  <img src="./../../../assets/products.jpg" alt="Product Image">
                  <div class="product_content">
                      <h6>Apple iPhone 11 64GB Yellow Fully Unlocked</h6>
                      <span>478 RR points</span>
                      <div class="price_box">
                          <span><b>400</b> RR points</span>
                          <span><i class="fa-solid fa-cart-shopping"></i></span>
                      </div>
                  </div>
              </a>
          </div>
          <div class="box">
            <a routerLink="#">
                <img src="./../../../assets/products.jpg" alt="Product Image">
                <div class="product_content">
                    <h6>Apple iPhone 11 64GB Yellow Fully Unlocked</h6>
                    <span>478 RR points</span>
                    <div class="price_box">
                        <span><b>400</b> RR points</span>
                        <span><i class="fa-solid fa-cart-shopping"></i></span>
                    </div>
                </div>
            </a>
        </div>
        <div class="box">
          <a routerLink="#">
              <img src="./../../../assets/products.jpg" alt="Product Image">
              <div class="product_content">
                  <h6>Apple iPhone 11 64GB Yellow Fully Unlocked</h6>
                  <span>478 RR points</span>
                  <div class="price_box">
                      <span><b>400</b> RR points</span>
                      <span><i class="fa-solid fa-cart-shopping"></i></span>
                  </div>
              </div>
          </a>
      </div>
      <div class="box">
        <a routerLink="#">
            <img src="./../../../assets/products.jpg" alt="Product Image">
            <div class="product_content">
                <h6>Apple iPhone 11 64GB Yellow Fully Unlocked</h6>
                <span>478 RR points</span>
                <div class="price_box">
                    <span><b>400</b> RR points</span>
                    <span><i class="fa-solid fa-cart-shopping"></i></span>
                </div>
            </div>
        </a>
    </div>
    <div class="box">
      <a routerLink="#">
          <img src="./../../../assets/products.jpg" alt="Product Image">
          <div class="product_content">
              <h6>Apple iPhone 11 64GB Yellow Fully Unlocked</h6>
              <span>478 RR points</span>
              <div class="price_box">
                  <span><b>400</b> RR points</span>
                  <span><i class="fa-solid fa-cart-shopping"></i></span>
              </div>
          </div>
      </a>
  </div>
  <div class="box">
    <a routerLink="#">
        <img src="./../../../assets/products.jpg" alt="Product Image">
        <div class="product_content">
            <h6>Apple iPhone 11 64GB Yellow Fully Unlocked</h6>
            <span>478 RR points</span>
            <div class="price_box">
                <span><b>400</b> RR points</span>
                <span><i class="fa-solid fa-cart-shopping"></i></span>
            </div>
        </div>
    </a>
</div>
<div class="box">
  <a routerLink="#">
      <img src="./../../../assets/products.jpg" alt="Product Image">
      <div class="product_content">
          <h6>Apple iPhone 11 64GB Yellow Fully Unlocked</h6>
          <span>478 RR points</span>
          <div class="price_box">
              <span><b>400</b> RR points</span>
              <span><i class="fa-solid fa-cart-shopping"></i></span>
          </div>
      </div>
  </a>
</div>
<div class="box">
  <a routerLink="#">
      <img src="./../../../assets/products.jpg" alt="Product Image">
      <div class="product_content">
          <h6>Apple iPhone 11 64GB Yellow Fully Unlocked</h6>
          <span disabled>478 RR points</span>
          <div class="price_box">
              <span><b>400</b> RR points</span>
              <span><i class="fa-solid fa-cart-shopping"></i></span>
          </div>
      </div>
  </a>
</div>
<div class="box">
  <a routerLink="#">
      <img src="./../../../assets/products.jpg" alt="Product Image">
      <div class="product_content">
          <h6>Apple iPhone 11 64GB Yellow Fully Unlocked</h6>
          <span disabled>478 RR points</span>
          <div class="price_box">
              <span><b>400</b> RR points</span>
              <span><i class="fa-solid fa-cart-shopping"></i></span>
          </div>
      </div>
  </a>
</div>
        </div>
    </div>
</div>
