.add_categories {
    width: 100%;
    max-width: 1089px;
    margin: 0 auto;
    h3 {
        font-weight: bold;
        padding: 44px 0;
    }
    form {
      .box {
        padding: 5px 0;
         span {
            display: block;
            padding-bottom: 7px;
            text-align: left;
            font: normal normal normal 12px/18px Poppins;
            letter-spacing: 0px;
            color: #2761BB;
            opacity: 1;
         }
         input, textarea, select {
            width: 100%;
            background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #DBDBDB;
            border-radius: 6px;
            opacity: 1;
         }
         input, select {
            height: 40px;
         }
         textarea {
           height: 150px;
         }
      }
      .cate_button {
          padding-top: 34px;
          input {
            background: #2761BB 0% 0% no-repeat padding-box;
            border-radius: 6px;
            opacity: 1;
            color: #fff;
            padding: 10px 20px;
            border: none;
          }
      }
    }
}
